
html{
  height: 100%;
}

  body {
    background-image:url('https://caique-p.github.io/OnChat/portuguese/Background/bg3.png');
    background-repeat: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-attachment: fixed;
    background-position: top;
    font-family: Arial,Helvetica;
    height: 100%;
    margin-top: 5%;
  }
  .member{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 0px;
    border-radius: 3px;
    transition: background-color 2s, text-decoration 0.5s,border 1s, width 1s;
  }
  .member:hover,
  .room:hover {
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: underline;
  }


  .members-count{
    margin-right:90.5%;
    color: white;
    background-color: #00050f;
    width: 18%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px 10px 5px 5px;
  }
  /*tamanho padrão: 700px*/
  .members-list{
    margin-right: 75%;
    width: 20%;
    height: 60%;
    position: absolute;
    border: 1px solid rgba(255, 0, 0, 0);;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #00040c;
    color: white;
  }
  .messages {
    text-align: left;
    right: 10px;
    margin-top: 00%;
    margin-left: 25%;
    border: 1px solid rgba(255, 0, 0, 0);;
    padding: 15px;
    border-radius: 5px 1px 1px 5px;
    height:60% ;
    width: 65%;
    overflow-x: hidden;
    margin-bottom: 15px;
    background-color: #f9b39d;
    color: black;
  }
  .message {
    padding: 5px 0;
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 8px;
    margin: 3px;
    width: 50%;
    padding: 10px;
    word-break: break-all;
    border: 3px solid;
      border-color: rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) Black;
    /*transitions;*/
   -webkit-transition: width 0.5s, height 0.5s,border-radius 0.7s, font-size 0.25s;
    transition: width 0.5s, height 0.5s, background-color 0.7s,border-radius 0.7s, font-size 0.5s;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .message:hover {
    width: 85%;
    background-color: #f5e3ff;
    border-radius: 24px;
    font-size: 18px;
  }
  /**
   * ----------------------------------------
   * animation scale-in-center
   * ----------------------------------------
   */
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  .message .member {
    background-color: rgba(7, 0, 28, 0.9);
    border-radius: 3px;
    border: 2px solid rgba(255, 0, 0, 0);
    width: 60%;
  }

  .member {
    padding-right: 10px;
    position: relative;
  }
  #OnChat{
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 5, 12, 0);
    width: 90%;
    height: 100%;
    visibility: hidden;
    margin-top: -55%;
  }
  #OnChatLogo{
    color: white;
    height: 100%;
  }
  #logo{
    background-color: rgba(255, 0, 0, 0);
        height: 0%;
        width: 100%;
        border-radius: 0px;
    transition: 1.5s;

  }
  #logo:hover{
    height: 10%;
    margin-left: -20%;
    border-radius: 20px 10px 20px 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  /*botão de nome*/
  #Name{
    position: absolute;
    background-color: #00040c;
    border: 2px solid #00040c;
    color:white;
    border-radius: 2px;
    height: 7.5%;
    width: 75%;
    transition: width 1s, margin 1s, border-radius 0.5s;
    font-size: 20px;
    margin-top: 200px;
  }
  #Password{
    position: absolute;
    background-color: #00040c;
    border: 2px solid #00040c;
    color:white;
    border-radius: 2px;
    height: 7.0%;
    width: 75%;
    transition: width 1s, margin 1s, border-radius 0.5s;
    font-size: 20px;
    margin-top: 285px;
  }
  .Login-form_button{
    position: absolute;
    background-color: #00040c;
    border: 2px solid #00040c;
    color:white;
    border-radius: 5px;
    height: 8%;
    width: 10%;
    transition: width 0.5s, margin 0.5s, height 0.5s;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 81.2%;
  }
  #Name:hover{
    width: 80%;
    border-radius: 20px;
  }

  .message-form {
    margin-left: 30%;
  }
  .message-form__input {
    background-color: #00040c;
    color: white;
    border: 1px solid #00040c;
    border-radius: 20px;
    width: 30%;
    position: relative;
    height: 35px;
    font-size: 16px;
    transition: 1.5s;
  }
  .message-form__input:hover{
    width: 50%;
    border-radius: 5px;
  }
  .message-form__button {
    color: white;
    background-color:  #00040c;
    height: 40px;
    width: 100px;
    margin-left: 0.3%;
    border: 10px;
    border-radius: 10px;
    position: absolute;
  }
  p{
    position: absolute;
    margin-left: 77%;
    margin-top: 0%;
    background-color: lightblue;
    width: 160px;
    height: 30px;
    opacity: 0.4;
    font-size: 24px;
  }
  /*Emojis*/
  .Emoji{
    background-color: black;
    width: 180px;
    position: relative;
    margin-top: -4%;
    border-radius: 20px;
  }
  #emojibutton{
    height: 50px;
    width: 30px;
        position: relative;
    margin-left: 8%;
    border: 10px;
    font-size: 20px;
    background-color: black;
  }
  #emojitoggle{
    height: 40px;
    width: 40px;
    border-radius: 20px 20px 20px 50px;
    font-size: 20px;
    background-color: white;
    background-color: black;
      transition: 0.4s;
  }
  #emojitoggle:hover{
    width: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    background-color: lightyellow;
    transition: 0.4s;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0.4%;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #4d3f5c;
    border-radius: 50px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f223d;
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5f547d;
  }
